<html>
	<head>
		<title>Home Page</title>
	</head>
	<body>
		<h1>Welcome back, {{username}} </h1>
		<form method="POST" action="/getStockQuotes">
            Please enter stock index : <input type="text" name="stock_index">
            <br>
            Please enter start date : <input type="text" name="start_date">
            <br>
            Please enter end date : <input type="text" name="end_date">
			<input type="submit">
		</form>
	<a href="/history"> <input type="submit" value="Search History"></a>
	</body>
</html>